<!DOCTYPE html>
<html lang="vi">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather:wght@400;700&display=swap"
          rel="stylesheet">
</head>
<body style="font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; background-color: #f6f9fc; margin: 0; padding: 20px; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; max-height: 1000px;">
<div class="email-container"
     style="width: 70%; max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);">
    <div class="email-header" style="color: #0556f3; padding: 10px; text-align: center; border-radius: 5px 5px 0 0;">
        <img src="https://drive.google.com/uc?export=view&id=1LmTGcED7isFpQ-0WJXVuVbP_6ANxJegL" alt="Logo"
             style="width:50px; height:auto;">
        <h2>Đặt lại mật khẩu</h2>
    </div>
    <div class="email-content" style="margin: 20px 0;">
        <p>Xin chào, <strong>/userFullName/ (@/username/)</strong></p>
        <p>Bạn đã yêu cầu đặt lại mật khẩu của mình. Vui lòng xác thực tài khoản và đặt lại mật khẩu:</p>
        <div style="display: flex; align-items: center; justify-content: center; padding: 10px;">
            <a href="/verifyUrl/?token=/token/&username=/username/&token-type=/tokenType/" target="_blank"
               style="padding:0 20px; background-color: #0556f3; color: #fff; text-decoration: none; border-radius: 100px; font-weight: bold">
                <p>Xác thực và đặt lại mật khẩu</p>
            </a>
        </div>
        <p>Sau khi bạn được chuyển đến trang đặt lại mật khẩu, vui lòng đổi mật khẩu của bạn ngay lập tức!</p>
        <p>Nếu bạn không yêu cầu đặt lại mật khẩu, vui lòng liên lạc với chúng tôi qua email.</p>
    </div>
    <div class="email-footer"
         style="background-color: #e9edfc; color: #0556f3; text-align: center; padding: 10px; border-radius: 0 0 5px 5px;">
        <p>Trân trọng,</p>
        <p>&copy; 2023 - /currentYear/ FilmBooking - Doan Quoc Dang and Nguyen Phuong Nha. Mọi quyền được bảo lưu.</p>
    </div>
</div>
</body>
</html>